<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title> Home Page - Not Logged In</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!--CSS-->
  <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<!--Top Header-->
<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <p class="fw-bold d-flex align-items-center mb-3 mb-md-0 me-md-auto text-primary text-decoration-none text-uppercase">Your favorite neighborhood store</p>
    </ul>
    <ul class="nav">
      <li class="nav-item"><a href="/order-lines" th:href="@{/signup}" class="nav-link link-dark px-2">My Cart</a></li>
      <li class="nav-item"><a href="/myProfile" th:href="@{/myProfile}" class="nav-link link-dark px-2">My Profile</a></li>
      <li class="nav-item"><a href="/logout" th:href="@{/logout}" class="nav-link link-dark px-2">Logout</a></li>
    </ul>
  </div>
</nav>
<!--/Top Header-->

<!--Second Header-->
<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/home/loggedin" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <svg class="icon me-2" width="40" height="32"><img src="https://img.icons8.com/fluency/48/000000/grocery-store.png"/></svg>
      <span class="fs-4">Halina Market</span>
    </a>
    <form method="post" th:action="@{/home/loggedin}" th:object="${product}" class="col-12 col-lg-auto mb-3 mb-lg-0">
      <input th:field="*{productName}" type="text" class="form-control" placeholder="Search" aria-label="Search">
      <div class="text-end">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>
</header>
<!--/Second Header-->

<!--Side Navigation-->
<div class="container" th:switch="${categories}">
  <!--    <h3 th:case="null">No Categories</h3>-->
  <div th:case="*">
    <table>
      <thead>
      <tr th:each="category : ${categories}">
        <td>
          <a th:href="@{/category/sub/{id}(id=${category.getCategory_id()})}" th:text="${category.getName()}"></a>
        </td>
      </tr>
      </thead>
    </table>
  </div>
</div>
<!--/Side Navigation-->

<!-- Feature -->
<div class="container py-4">
  <div class="p-5 mb-4 bg-light rounded-3">
    <img class="card-img" src="https://www.supermarketnews.com/sites/supermarketnews.com/files/styles/article_featured_retina/public/deliverystockart.jpg?itok=zxIk7wTp" alt="Card image">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Same Day Delivery</h1>
      <p class="col-md-8 fs-4">Delivering happiness and needs</p>
      <button class="btn btn-primary btn-lg active" type="button"><a href="/home/loggedin" class="nav-link link-light px-2">Shop Now</a></button>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light rounded-3">
        <h2>Hassle-free shopping</h2>
        <p>Order groceries at the comfort of your home.</p>
        <button class="btn btn-outline-primary" type="button"><a href="/home/loggedin" class="nav-link link-dark px-2">Shop Now</a></button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Fresh produce</h2>
        <p>Fresh produce brought to your doorstep.</p>
        <button class="btn btn-outline-primary" type="button"><a href="/home/loggedin/category/sub/12" th:href="@{/category/sub/12}" class="nav-link link-dark px-2">Shop Now</a></button>
      </div>
    </div>
  </div>
</div>
<!--/ Feature -->

<!--Footer-->
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <p>&copy; <script>document.write(new Date().getFullYear());</script> Company, Inc. All rights reserved.</p>
    </div>
  </footer>
</div>
<!--/Footer-->

</body>
</html>