<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Add Products - Admin Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--CSS-->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body class="bg-light">

<!--Admin Header-->
<nav class="py-2 bg-light border-bottom" style="background-color: #b7c9e2">
    <div class="container d-flex flex-wrap">
        <a href="/home/loggedin" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <svg class="icon me-2" width="40" height="32"><img src="https://img.icons8.com/fluency/48/000000/grocery-store.png"/></svg>
            <span class="fs-4">Halina Market</span>
        </a>
        <ul class="nav me-auto">
            <p class="fw-bold d-flex align-items-center mb-3 mb-md-0 me-md-auto text-primary text-decoration-none text-uppercase">Your favorite neighborhood store</p>
        </ul>
        <ul class="nav"><li class="nav-item"><a href="/myProfile" th:href="@{/myProfile}" class="nav-link link-dark px-2 fw-bold">My Profile</a></li>
            <li class="nav-item"><a href="/logout" th:href="@{/logout}" class="nav-link link-dark px-2 fw-bold">Logout</a></li>
        </ul>
    </div>
</nav>
<!--/Admin Header-->

<!--Admin - Edit & Delete-->
<br>
<h2 class="text-end container text-success">You are logged in as Store Admin</h2>
<br>
<div class="container" th:switch="${allProducts}">
    <div th:case="*"><h1>Manage products</h1></div>
    <form method="post" th:action="@{/product/display/all}">
        <table class="table table-bordered table-hover table-center">
            <thead>
            <tr>
                <th class="text-center align-middle" scope="col">ID</th>
                <th class="text-center align-middle" scope="col">Image</th>
                <th class="text-center align-middle" scope="col">Product</th>
                <th class="text-center align-middle" scope="col">Description</th>
                <th class="text-center align-middle" scope="col">Price</th>
<!--                <th class="text-center align-middle" scope="col">Available</th>-->
                <th class="text-center align-middle" scope="col">Edit</th>
                <th class="text-center align-middle" scope="col">Remove</th>
            </tr>
            </thead>
            <tbody>
<!--            <tr th:if="${/.empty}">-->
<!--                <td colspan="4">Manage products</td>-->
<!--            </tr>-->
            <tr th:each="product : ${allProducts}">
                <td class="text-center align-middle">
                    <a th:text="${product.getProduct_id()}"></a>
                </td>
                <td class="text-center align-middle">
                    <img th:src="${product.getImageUrl()}" height="50" width="50">
                </td>
                <td class="text-center align-middle">
                    <a th:text="${product.getProductName()}"></a>
                </td>
                <td class="text-center align-middle">
                    <a th:text="${product.getProductDesc()}"></a>
                </td>
                <td class="text-center align-middle">
                    <a th:text="${product.getPrice()}"></a>
                    <a>PHP</a>
                </td>
<!--                <td class="text-center align-middle">-->
<!--                    <a th:text="${product.getAvailability()}"></a>-->
<!--                </td>-->
                <td class="text-center align-middle">
                    <a th:href="@{/product/edit/{id}(id=${product.getProduct_id()})}">Edit</a>
                </td>
                <td class="text-center align-middle">
                    <a th:href="@{/product/delete/{id}(id=${product.getProduct_id()})}">Delete</a>
                </td>
                <br>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
    </form>
</div>
</div>
<!--/Admin - Edit & Delete-->

<!--&lt;!&ndash;Pagination of Admin&ndash;&gt;-->
<!--<nav class="container">-->
<!--    <ul class="pagination justify-content-end">-->
<!--        <li class="page-item disabled">-->
<!--            <a class="page-link">Previous</a>-->
<!--        </li>-->
<!--        <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--        <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--        <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="#">Next</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->
<!--&lt;!&ndash;/Pagination of Admin&ndash;&gt;-->

<!--&lt;!&ndash;Footer&ndash;&gt;-->
<!--<div class="container">-->
<!--    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">-->
<!--        <div class="col-md-4 d-flex align-items-center">-->
<!--            <p>&copy; <script>document.write(new Date().getFullYear());</script> Company, Inc. All rights reserved.</p>-->
<!--        </div>-->
<!--    </footer>-->
<!--</div>-->
<!--&lt;!&ndash;/Footer&ndash;&gt;-->


</body>
</html>
</body>
</html>