<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sub Category</title>
</head>
<body>
<h1 th:text="${category.getName()}"></h1>
<div th:switch="${subcategories}">
    <h3 th:case="null">No Sub Categories</h3>
    <div th:case="*">
        <table>
            <thead>
            <tr th:each="subcategory : ${subcategories}">
                <td>
                    <a th:href="@{/category/prod/{id}(id=${subcategory.getSubcategory_id()})}" th:text="${subcategory.getName()}"></a>
                </td>
            </tr>
            </thead>
        </table>
    </div>
</div>
</body>
</html>